#ignore all untracked linkdef files
#(already-tracked files can't be ignored)
LinkDef*

#ignore summary text files
summary_*unfolding*.txt
*_summary_PEtest*.txt
p1_f*.txt

#ignore the temporary json file that holds our systematics
systematics.json

#ignore output plots
*.pdf
*.png
*.svg
AfbVs*_unfolded_*.C
*_LinearityCheck*.C

#ignore backup files
*.*~

#ignore compiler files
*.pyc
*.rootmap
